@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    background-color: #3F1D38 ;

}

.header {
    overflow: hidden;
    background-color: #A2678A;
    padding: 10px 10px;
    font-family: 'Inconsolata', monospace;
    position: fixed;
    top: 0;
    width: 1530px;
  }

  .header a {
    float: left;
    color: #f1e8f8;
    text-align: center;
    padding: 8px;
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
  }

  .header a:hover{
    color: #E19898;
    transition: 0.3s;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }

  .header-btns {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-btns {
      float: none;
    }
  }

  

.card-list{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.card{
    border: 1px solid black;
    width: 450px;
    height: 700px;
    margin: 120px;
    margin-top: 30px;
    border-radius: 20px;
    background: #16130e; 
    transform-origin: center center 0px;
    transition: all .4s ease-out;
    animation-name: animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform: perspective(1000px) rotateX(35deg) rotateY(4deg) rotateZ(-30deg);
    z-index: 1;
}

.card:hover{
    animation: unset;
    margin-top: 18vh;
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    
}

 .card-bg {
    height: 600px;
    margin: 20px 20px 0 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;

}

.img-title, .type-rarity {
    border-bottom: 4px solid #a9a9a9;
    border-left: 2px solid #a9a9a9;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
}

.img-title, .art, .type-rarity {
    box-shadow: 0 0 0 2px #171314, 0 0 0 7px #4d473b,-3px 3px 2px 7px #171314;
    margin-bottom: 7px;
}

.card-text {
    box-shadow: 
        0 0 0 3px #4d473b,
        -3px 3px 2px 3px #171314;
}

.img-title, .type-rarity, .card-text {
    overflow: hidden;
}

.card-details {
    z-index: 1;
    position: relative;
    height: 108%;
    max-width: 97%;
    left: 1%;
    top: 0.5%;
    left: 1.2%;
    display: flex;
    flex-direction: column;
}

.img-title, .type-rarity {
    background: 
        linear-gradient( 0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3) ), 
        url(https://image.ibb.co/dFcNx7/tile_bg_2.jpg);
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 18px/40px;
}
.title, .type {
    font-size: 20px;
    margin-left: 8px;
    align-self: center;
    font-weight: 600;
}

#mana-icon {
    font-size: 1.4em;
    background: #ADD3AC;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: -0.05em 0.12em 0px 0 black;
    margin-right: 5px;
    height: 20px;
    align-self: center;
}
.art {
    height: 50%;
    margin: 0 10px; 
}

#set-icon {
    height: 25px;
    width: 35px;
    overflow: hidden;
    margin-right: 10px;
    align-self: center;
} 
.type-rarity {
    margin-top: 0;
} 

.card-text {
    margin: 0 10px;
    background: #d3ded6;
    background-image: url(https://image.ibb.co/jKByZn/tile_bg_1.jpg); 
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    padding: 50px 6px;
    font-size: 1.1em;
}


.contar-historia {
    font-style: italic;
    padding: 10px 0;
}

p {
    margin-bottom: 5px;
}

.italic{
    font-style: italic  ;
}

.card-info {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 5px 15px 0 15px; 
}

.info-left p:first-of-type {
    margin-bottom: 1px;
}
.info-left{
    font-size: 10px;
    position: relative;
}

.info-right {
    font-size: 10px;
    position: relative;
    top: 13px;
}

.info-center {
    border-radius: 60%;
    flex-basis: 41px;
    height: 21px;
    position: relative;
    bottom: 11px;
    z-index: 2;
    margin-left: 20px;
    background: lightgray;
    background-image: url(https://image.ibb.co/jyq34n/holofoil_texture_2.jpg);
    box-shadow: 
        0 0 0 4px #171314;
}

.info-right {
    flex: 1;
    text-align: right;
}
 .card-info img {
    overflow: hidden;
    max-width: 10px;
}